<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
  integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
  crossorigin="anonymous"
/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Stock Search</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="button"
      routerLink="/search/home"
      routerLinkActive="active-link"
    >
      Search
    </button>
    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="button"
      routerLink="/watchlist"
      routerLinkActive="active-link"
    >
      Watchlist
    </button>

    <button
      class="btn btn-outline-success my-2 my-sm-0"
      type="button"
      routerLink="/portfolio"
      routerLinkActive="active-link"
    >
      Portfolio
    </button>
  </div>
</nav>
<app-search-bar></app-search-bar>
<router-outlet />
