// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap");

.navbar {
  background-color: #1d279d !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
  font-weight: 400;
  color: white !important;
}
.btn-outline-success {
  background-color: transparent !important;
  border: none !important;
  color: #f0ead6 !important;
  outline: none !important;
  font-weight: 400;
}
.btn-outline-success:hover {
  font-weight: 700;
  color: white !important;
}

.active-link {
  box-shadow: 0 0 0 0.1rem white !important;
  border-radius: 15px;
}

.wordings {
  padding: 20px;
}
#navbarSupportedContent button {
  text-align: left;
}
