.row-spacing {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.container {
  padding-top: 20px;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.big-text {
  font-size: large;
}

.wordings {
  font-size: x-large;
  padding-bottom: 20px;
  margin-left: 20px;
}

.error-design {
  background-color: #fff1c8;
  padding: 20px;
}
