.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titlensubtit {
  h2 {
    margin: 0 0 0 0;
  }
  h5 {
    margin: 0 0 0 0;
  }
}
.dialog-subtitle {
  padding-left: 25px;
  color: gray;
}
.dialog-actions {
  flex: none;
}
.dialog-actions mat-button {
  background-color: white !important;
  color: white !important;
}
mat-dialog-close {
  background-color: white !important;
  color: white !important;
}

.close-icon {
  color: blue;
}
hr {
  border: 0;
  height: 1px;
  background-color: #cccccc;
  margin: 0 0 20px 0;
}

.share {
  padding: 20px 10px 10px 10px;
  border-style: solid;
  border-color: #cccccc;
  border-width: 1px;
  border-radius: 5px;
}
