.text-right {
  font-size: 20px;
}


.big-font {
  font-size: 1.5em; /* Adjust the size as needed */
}

.stock-details {
  font-size: 1.4em; /* Adjust the size as needed */
}
.stock-details-2 {
  font-size: 1.2em; /* Adjust the size as needed */
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.small-icon {
  font-size: 0.75em; /* Adjust the size as needed */
  padding-left: 8px; /* Adds padding to the left of the icon */
}
.mat-tab-group {
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-insigh {
  margin-top: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff !important;
  border: #fff !important;
}

.table-insigh-custom {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff !important;
}

.table-insigh-custom tbody tr:last-child {
  border-bottom: 1px solid lightgrey; /* Example: Adds a solid black border to the last row */
}

.font-small {
  font-weight: 200 !important;
}

.fas {
  color: gold;
}
.boldedtext {
  font-weight: bold;
}





