<app-search-bar></app-search-bar>

<!-- <app-search-bar></app-search-bar> -->

<div class="container">
  <div
    *ngIf="errorMessage"
    class="alert alert-danger"
    style="text-align: center"
    role="alert"
  >
    {{ errorMessage }}
  </div>
  <div
    *ngIf="stockSellMsg"
    class="alert alert-danger"
    style="text-align: center"
    role="alert"
  >
    {{ stockSellMsg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div
    *ngIf="stockBuylMsg"
    class="alert alert-success"
    style="text-align: center"
    role="alert"
  >
    {{ stockBuylMsg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="nonerror" *ngIf="!errorMessage">
    <div
      class="row justify-content-center"
      *ngIf="!errorMessage && stockProfile && stockQuote && companyPeers"
    >
      <!-- First Column: Ticker, Name, Buy/Sell -->
      <div class="col-4 box1 d-flex flex-column justify-content-center">
        <div class="row mb-2 justify-content-center">
          <div style="font-size: large">
            {{ stockProfile.ticker }}
            <i
              class="fa-star small-icon 
          {{ isFavorite ? 'fas' : 'far' }} "
              (click)="toggleFavorite(stockProfile, stockQuote)"
            ></i>
          </div>
        </div>
        <div style="font-size: medium" class="row mb-2 justify-content-center">
          {{ stockProfile.name }}
        </div>
        <div
          class="row mb-2 justify-content-center align-items-center"
          style="width: 100%; text-align: center; font-size: small"
        >
          {{ stockProfile.exchange }}
        </div>
        <div class="row justify-content-center">
          <!-- <button type="button" class="btn btn-success mr-1">Buy</button>
       -->
          <button
            type="button"
            class="btn btn-success mr-1"
            (click)="openBuyDialog(stockQuote.c)"
          >
            Buy
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="openSellDialog(stockProfile.ticker, stockQuote.c)"
          >
            Sell
            <!-- *ngIf="hasBoughtStock" -->
          </button>
        </div>
      </div>

      <!-- Second Column: Logo -->
      <div class="col-4 box2 d-flex justify-content-center align-items-center">
        <img
          [src]="stockProfile.logo"
          alt="Company Logo"
          class="img-fluid my-auto"
          style="height: 85px"
        />
      </div>

      <!-- Third Column: Stock Details -->
      <div class="col-4 box3">
        <div
          style="font-size: large"
          class="row mb-2 justify-content-center"
          [ngClass]="{
            'red-text': stockQuote.d < 0,
            'green-text': stockQuote.d >= 0
          }"
        >
          {{ stockQuote.c | number : "1.2-2" }}
        </div>
        <div
          style="font-size: medium"
          class="row mb-2 justify-content-center"
          [ngClass]="{
            'red-text': stockQuote.d < 0,
            'green-text': stockQuote.d >= 0
          }"
        >
          <span
            style="font-size: small"
            *ngIf="stockQuote.d < 0"
            class="arrow red-text"
            >&#x25BC;</span
          >
          <!-- Downward arrow -->
          <span
            style="font-size: small"
            *ngIf="stockQuote.d >= 0"
            class="arrow green-text"
            >&#x25B2;</span
          >
          <!-- Upward arrow -->

          {{ stockQuote.d | number : "1.2-2" }} ({{
            stockQuote.dp | number : "1.2-2"
          }}%)
        </div>
        <div style="font-size: small" class="row justify-content-center">
          {{ convertTimestamp(stockQuote.t) }}
        </div>
      </div>
    </div>
    <div
      class="row row2 justify-content-center align-items-center market-status"
      [ngStyle]="{ color: isOpen ? 'green' : 'red' }"
    >
      <span *ngIf="isOpen; else marketClosed"> Market is Open </span>
      <ng-template #marketClosed>
        Market Closed on {{ currentDate }}
      </ng-template>
    </div>

    <mat-tab-group>
      <mat-tab label="Summary">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row">
                <!-- Add custom class for styling and use Bootstrap's utility classes for alignment -->
                <div
                  class="col-12 d-flex flex-column justify-content-center justify-content-md-start high-price-row pad"
                >
                  <div>
                    <span class="boldedtext">High Price:</span>
                    {{ stockQuote?.h }}
                  </div>
                  <div>
                    <span class="boldedtext">Low Price:</span>
                    {{ stockQuote?.l }}
                  </div>
                  <div>
                    <span class="boldedtext">Open Price:</span>
                    {{ stockQuote?.o }}
                  </div>
                  <div>
                    <span class="boldedtext">Prev. Close:</span>
                    {{ stockQuote?.pc }}
                  </div>
                </div>

                <div
                  class="col-12 d-flex justify-content-center flex-column text-center"
                  style="padding: 10px"
                >
                  <div
                    style="
                      padding: 5px;
                      font-weight: bold;
                      text-decoration: underline;
                    "
                  >
                    About the Company
                  </div>
                  <div style="padding: 5px">
                    <span class="boldedtext"> IPO Start Date:</span>
                    {{ stockProfile?.ipo }}
                  </div>
                  <div style="padding: 5px">
                    <span class="boldedtext">Industry: </span
                    >{{ stockProfile?.finnhubIndustry }}
                  </div>
                  <div style="padding: 5px">
                    <span class="boldedtext"> WebPage: </span>
                    <a
                      *ngIf="stockProfile"
                      href="{{ stockProfile?.weburl }}"
                      target="_blank"
                      >{{ stockProfile.weburl }}</a
                    >
                  </div>
                  <div style="padding: 5px">
                    <span style="font-weight: bold">Company Peers: </span><br />
                    <span *ngFor="let peer of companyPeers; let i = index">
                      <a
                        (click)="routeToPeer(peer)"
                        style="color: #3d96ff; text-decoration: underline"
                        >{{ peer }}</a
                      ><span *ngIf="i < companyPeers.length - 1">, </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="col-12 col-md-6 d-flex align-items-center justify-content-center"
              style="height: 100%"
            >
              <app-summary-chart
                style="width: 100%; height: 400px; display: block"
                [chartOptions]="chartOptions"
              ></app-summary-chart>
              <!-- <highcharts-chart
                *ngIf="Highcharts && stockProfile && chartOptions"
                [Highcharts]="Highcharts"
                [options]="chartOptions"
                style="width: 100%; height: 400px; display: block"
              >
              </highcharts-chart> -->
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Top News">
        <div class="container">
          <div class="row">
            <div
              class="col-sm-12 col-md-6"
              *ngFor="let newsItem of companyNews"
              style="padding: 10px"
            >
              <div
                class="card mb-3"
                style="
                  max-width: 540px;
                  height: 100%;
                  padding: 10px;
                  background-color: #f8f9fa;
                  margin-bottom: 15px !important;
                "
                (click)="openNewsModal(newsItem)"
              >
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img
                      src="{{ newsItem.image }}"
                      class="card-img"
                      alt="{{ newsItem.headline }}"
                      style="
                        width: 70%;
                        height: 60%;
                        display: block;
                        margin-top: 10%;
                        margin-left: auto;
                        margin-right: auto;
                      "
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body d-flex flex-column">
                      <p class="card-text mt-auto">{{ newsItem.headline }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Charts">
        <!-- Conditionally render based on the hasCachedData flag -->
        <ng-container *ngIf="hasCachedData; else useMainChartComponent">
          <!-- Content when cached data exists -->
          <highcharts-chart
            *ngIf="Highcharts && SMA_VolchartOptions"
            [Highcharts]="Highcharts"
            [options]="SMA_VolchartOptions"
            style="width: 100%; height: 400px; display: block"
          >
          </highcharts-chart>
        </ng-container>

        <!-- Fallback content using MainChartComponent -->
        <ng-template #useMainChartComponent>
          <div *ngIf="mainChart && ticker">
            <app-main-chart
              [chartData]="mainChart.results"
              [ticker]="ticker"
            ></app-main-chart>
          </div>
          <!-- <app-main-chart [chartData]="mainChart.results" [ticker]="ticker"></app-main-chart> -->
        </ng-template>
      </mat-tab>

      <!-- <mat-tab label="Charts">
        <div *ngIf="mainChart && ticker">
          <app-main-chart [chartData]="mainChart.results" [ticker]="ticker"></app-main-chart>
        </div>
      </mat-tab> -->

      <!-- <mat-tab label="Charts">
        <div *ngIf="Highcharts">
          <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="SMA_VolchartOptions"
            style="width: 100%; height: 400px; display: block"
          >
          </highcharts-chart>
        </div>
      </mat-tab> -->

      <mat-tab label="Insights">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col text-center">
              <h2>Insider Sentiments</h2>
            </div>
          </div>

          <!-- First Row with a single element -->
          <div class="row">
            <div class="col-12">
              <div class="p-3 border bg-light table-insigh">
                <table
                  class="table table-insigh-custom"
                  *ngIf="insidersentiment && stockProfile"
                >
                  <thead>
                    <tr>
                      <th scope="col">
                        {{ stockProfile.name }}
                      </th>
                      <th scope="col">MSPR</th>
                      <th scope="col">Change</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Total</td>
                      <td class="font-small">{{ insidersentiment.total }}</td>
                      <td class="font-small">
                        {{ insidersentiment.changeTotal }}
                      </td>
                    </tr>
                    <tr>
                      <td>Positive</td>
                      <td class="font-small">
                        {{ insidersentiment.positive }}
                      </td>
                      <td class="font-small">
                        {{ insidersentiment.positiveChange }}
                      </td>
                    </tr>
                    <tr>
                      <td>Negative</td>
                      <td class="font-small">
                        {{ insidersentiment.negative }}
                      </td>
                      <td class="font-small">
                        {{ insidersentiment.negativeChange }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Second Row with two elements -->
          <div class="row">
            <!-- This column will take full width on small screens and half width on medium screens and up -->
            <div class="col-sm-12 col-md-6">
              <div class="p-3 border bg-light">
                <div *ngIf="Highcharts">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="recChartOptions"
                    style="width: 100%; height: 400px; display: block"
                  >
                  </highcharts-chart>
                </div>
              </div>
            </div>
            <!-- This column will do the same as the previous one -->
            <div class="col-sm-12 col-md-6">
              <div class="p-3 border bg-light">
                <div *ngIf="Highcharts">
                  <highcharts-chart
                    [Highcharts]="Highcharts"
                    [options]="companyEarningsChartOptions"
                    style="width: 100%; height: 400px; display: block"
                  >
                  </highcharts-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
